{% extends "__base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
  				<h1>Web-site of our group <small>Python learning group</small></h1>
			</div>
			<ul class="media-list">
			  <li class="media">
			    <div class="media-left">
			      <a href="#">
			        <img class="media-object" src="../static/img.jpg" height="64" width="84" alt="image">
			      </a>
			    </div>
			    <div class="media-body">
			      <h4 class="media-heading">Start education</h4>
			      <p>(02.04.2015) </p>Some information with <a href="info/" class='pageNext'>link</a>
			    </div>
			  </li>
			
			<li class="media">
			    <div class="media-left">
			      <a href="#">
			        <img class="media-object" src="../static/img.jpg" height="64" width="84" alt="image">
			      </a>
			    </div>
			    <div class="media-body">
			      <h4 class="media-heading">End education</h4>
			      <p>(23.06.2015) </p>Some information with <a href="info/2" class='pageNext'>link</a>
			    </div>
			  </li>

			</ul>
		</div>
	</div>
</div>

{% endblock %}