{% extends "__base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-striped">
  				<tr>
  					<th>№</th>
  					<th>Name</th>
  					<th>Status</th>
  					<th>Link</th>
  				</tr>
          {% for user in users %}
  				<tr>
  					<td>{{ user.id }}</td>
  					<td>{{ user.name_user }}</td>
            {% if user.status_user == 1 %}
  					<td><label class="label label-success">Online</label></td>
            {% else %}
            <td><label class="label label-danger">Offline</label></td>
            {% endif %}
  					<td><a href="/user/{{ user.id }}" class='pageNext'>Click me</a></td>
  				</tr>
          {% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}